#gallery {
  width: 964px;
  padding: 25px 25px 10px 25px;
  padding: 25px 25px 25px 25px\0/;
  background: #6d7820 url(../images/gallbottom.png) no-repeat scroll bottom;
  margin: -42px auto 0;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px #ccc;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
head~body #gallery { padding-bottom: 20px; }
}
*+html #gallery {
  padding-bottom: 30px;
}
#gallery ul {
  margin: 0;
  padding: 0;
}
#gallery li {
  margin: 0 25px 15px 0 !important;
  padding: 0 !important;
  float: left;
  position: relative;
}
.gallthumb {
  padding: 8px;
  background: #e8e7b4 url(../images/header.png);
}
#gallery li.item4, #gallery li.item8, #gallery li.item12, #gallery li.item16, #gallery li.item20, #gallery li.item24, #gallery li.item28 {
  margin-right: 0 !important;
}
.gcontent {
  display: none;
  position: absolute;
  background: #fbfad8;
  padding-top: 20px;
  height: 150px;
  width: 186px;
  padding: 20px 10px 0;
  left: 8px;
  bottom: 13px;
  bottom: 8px\0/;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
head~body .gcontent { bottom: 8px; }
}
*+html .gcontent {
  bottom: 8px;
}
:root .gcontent {bottom: 8px\0/IE9; }  /* IE9 */
.gcontent p {
  margin-bottom: 10px;
}
.gtitle {
  font-size: 16px;
  margin-bottom: 15px;
}
.gtitle a, .gtitle a:visited, a.gmore, a.gmore:visited  {
  color: #6d7820 !important;
}
.gmore {
  font-size: 13px;
  font-family: 'ForteMTRomanItalic';
  float: right;
}
